*{
    box-sizing: border-box;
}


:root {
    --font-size: 18px;
    --spacing-default: 3rem;
    --color-primary: #3c6e71;
    --color-background: #d9d9d9;
    font-size: var(--font-size);


}


ul {
    list-style-type: none;
    font-weight: bold;
    font-style: italic;
    padding-left: 0;


}


.container{
    max-width: 1200px;
    margin:0 auto;
}


.columns {
    display: flex;
    gap: var(--spacing-default);
    justify-content: center;

}


.columns__column {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    margin: 0;
}

main{
    background-color: var(--color-background);
}

h1{

    font-family:'Dancing Script', cursive;
    color: var(--color-primary);
    font-size: 300%;

}


h2 {
    font-family: 'Dancing Script', cursive;
    color:var(--color-primary);
    font-size: 250%;
}


h3 {
    font-family:'Dancing Script', cursive;
    color:var(--color-primary);
    font-size:200%;
}


th thead td tbody{
    text-align: center;
}

.quantiy_input{
    width: 80px;
    border-radius: 10px;
    text-align: center;
    margin-left: 2rem;
    padding: 0.3rem
}

.submit_button{
    border-radius: 10px;
    padding: 0.5rem 0.3rem;
    margin-top: 2rem;
    background-color: var(--color-primary);
}


.text_input{
    width: 110px;
    border-radius: 10px;
    text-align: start;
    margin-left: 2rem;
    padding: 0.3rem
}


